.cards {
   @media (min-width: 698px) {
      margin: 0 5%;
   }

   @media (min-width: 1400px) {
      margin: 0 10%;
   }
}

.card-content {
   @media (min-width: 698px) {
      display: flex;
   }
}

/* ----- Left content ----- */
.card-content-left {
   @media (min-width: 698px) {
      min-width: 35%;
   }
}

.card-cover {
   display: none;
   //    background-color: #999999ab;
   background-color: #b7b7b7ab;

   @media (min-width: 698px) {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      height: 100%;
      width: 100%;
      border-radius: 10px 0 0 10px;
   }
}

.card-cover img {
   filter: saturate(0);

   @media (min-width: 698px) {
      max-height: 150px;
      margin: 3px;
   }
}

.image-desktop,
.image-mobile {
   display: flex;
   flex-direction: column;
   width: max-content;
   transform: rotate(-46deg);
}

/* ----- Right content ----- */
.card-content-right {
   padding: 35px 20px 30px;
   text-align: center;
   background-color: #2b2b2b;
   border-radius: 10px;

   @media (min-width: 375px) {
      text-align: inherit;
   }

   @media (min-width: 698px) {
      min-width: 55%;
      border-radius: 0 10px 10px 0;
   }
}

.card-title {
   margin-bottom: 5px;
   font-size: 28px;
   color: #f7f7f7;

   @media (min-width: 698px) {
      font-size: 32px;
   }
}

.card-tags {
   font-size: 14px;
   color: #f7f7f7;

   @media (min-width: 698px) {
      font-size: 15px;
   }
}

.card-intro {
   margin: 30px 0;
   color: #9f9f9f;

   @media (min-width: 698px) {
      margin: 35px 0;
   }
}

.card-context {
   font-size: 16px;
   color: #9f9f9f;
}

/* ----- Links ----- */
.view-more {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-top: 30px;

   @media (min-width: 375px) {
      justify-content: flex-end;
   }
}

.demo-link,
.github-link {
   margin: 10px;
   padding: 6px 10px;
   font-size: 18px;
   text-transform: inherit;
   text-decoration: underline;
   color: #f7f7f7;
}
