.cover {
   background-image: url("../../assets/images/photo.jpg");
   background-position: center;
   background-size: cover;
   height: 75vh;
   width: 100%;
   margin-top: -19px;

   @media (min-width: 990px) {
      grid-area: cover;
      height: 100vh;
   }
}
