.mode-btn {
   padding: 10px;
}

.mode-btn-dark {
   position: relative;
   top: 2px;
   padding: 0;
   font-size: 17px;
   transform: rotate(15deg);
   color: #dadada;
   background-color: transparent;
   cursor: pointer;

   @media (min-width: 798px) {
      font-size: 18px;
   }
}

.mode-btn-light {
   position: relative;
   padding: 20px 10px 10px 0;
   font-size: 24px;
   color: #dadada;
   background-color: #0f0f0f;
   cursor: pointer;
}
