.typewriter {
   height: 120px;

   @media (min-width: 336px) {
      height: 80px;
   }

   @media (min-width: 480px) {
      height: auto;
   }
}

.typewriter-title-one {
   font-family: "Marcellus";
   font-size: 28px;

   @media (min-width: 540px) {
      font-size: 30px;
   }
}

.typewriter-title-two {
   display: flex;
   width: 100%;
   font-family: "Marcellus";
   font-size: 28px;
   line-height: 1.6;

   @media (min-width: 480px) {
      display: inline;
      width: auto;
   }

   @media (min-width: 540px) {
      font-size: 30px;
   }
}

.color-JavaScript {
   color: #fb630a;
}

.color-React {
   color: #0093db;
}
