@use "../../styles/abstracts" as *;

.typewriter {
   height: 120px;
   margin-bottom: 50px;

   @media (min-width: 323px) {
      height: 80px;
   }

   @media (min-width: 468px) {
      height: auto;
   }
}

.typewriter-title-one {
   font-size: 28px;

   @media (min-width: 798px) {
      font-size: 32px;
   }
}

.typewriter-title-two {
   display: flex;
   width: 100%;
   font-size: 28px;
   line-height: 1.6;

   @media (min-width: 375px) {
      justify-content: flex-start;
   }

   @media (min-width: 468px) {
      display: inline;
   }

   @media (min-width: 798px) {
      font-size: 32px;
   }
}

.color-JavaScript {
   color: $orange;
}

.color-React {
   color: $blue;
}
