.main-bottom .tags {
   padding-bottom: 60px;

   @media (min-width: 698px) {
      margin: 0 5%;
      padding-bottom: 85px;
   }
}

.tags {
   @media (min-width: 798px) {
      margin: 0 5%;
   }
}

.tags h3 {
   margin: 0 5px 0 0;
   font-family: "Raleway", sans-serif;
   font-size: 19px;
   font-weight: 600;
}

.tags ul {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: 0;
   padding: 0;
   list-style-type: none;
   line-height: 1.5;
}

.tags li {
   padding: 5px 15px;
   font-family: "Bai Jamjuree", sans-serif;
   font-size: 18px;
   font-weight: 500;
   color: #686868;

   @media (min-width: 798px) {
      font-size: 19px;
   }
}

/*------- Theme context -------*/

.tags li.darkMode {
   color: #9f9f9f;
}
