.cover-wrapper {
   padding-top: 35px;
   background-color: #000;
   opacity: 0.94;

   @media (min-width: 1100px) {
      width: 50%;
   }
}

.cover {
   background-image: url("../../assets/images/photo.jpg");
   background-position: center;
   background-size: cover;
   height: 450px;

   @media (min-width: 1100px) {
      height: 100%;
   }
}

/*------- Theme context -------*/

.cover-wrapper.darkMode {
   background-color: #000;
   opacity: 0.94;
}
