// Basic color
$white: #fff;
$black: #000;
$orange: #fb630a;
$blue: #0093db;

// Text color
$light-text: #f7f7f7;
$dark-text: #9f9f9f;

// Text shadow
$light-shadow: #f7f7f770;
$dark-shadow: #00000063;

// Element color
$light: #dadada;

// Background color
$gray-background: #2b2b2b;

// Mode color
$light-mode: #f1f1f1;
$dark-mode: #0f0f0f;
