@use "../../styles/abstracts" as *;

.main-center .page-title-text,
.main-bottom .page-title-text,
.projects-page .page-title-text {
   position: relative;
   margin-left: 20px;
   padding: 55px 20px;
   font-size: 28px;
   text-align: center;
   text-shadow: -3px 4px 3px $dark-shadow;
   color: #101010;

   &::before {
      content: "";
      position: relative;
      left: -12px;
      border-left: 5px solid $black;
      box-shadow: -3px 4px 3px 0 $dark-shadow;
   }

   @media (min-width: 375px) {
      padding: 85px 20px;
   }

   @media (min-width: 798px) {
      padding: 100px 20px;
      font-size: 32px;
   }

   @media (min-width: 1100px) {
      padding: 150px 20px 100px;
   }
}

.main-bottom .page-title-text {
   @media (min-width: 698px) {
      padding: 85px 20px 75px;
   }

   @media (min-width: 798px) {
      padding: 100px 20px 90px;
   }

   @media (min-width: 1100px) {
      padding: 145px 20px 90px;
   }
}

/*------- Theme context -------*/

.page-title-text.darkMode {
   text-shadow: -3px 4px 3px $light-shadow;
   color: $light-text;

   &::before {
      border-left: 5px solid $light;
      box-shadow: -3px 4px 3px 0 $light-shadow;
   }
}
