@use "../../styles/abstracts" as *;

.mode-settings-btn {
   padding: 10px;

   @media (min-width: 798px) {
      padding: 10px 20px;
   }
}

.mode-btn-dark {
   position: relative;
   top: 2px;
   padding: 0;
   transform: rotate(15deg);
   font-size: 17px;
   color: $light;
   background-color: transparent;
   cursor: pointer;

   @media (min-width: 798px) {
      font-size: 18px;
   }
}

.mode-btn-light {
   position: relative;
   padding: 20px 10px 10px 0;
   font-size: 24px;
   color: $light;
   background-color: $dark-mode;
   cursor: pointer;
}
