/*---- Document root / body ----*/
html {
  height: 100vh;
  background-color: #f1f1f1;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: 0.6px;
}

/*--- Text container ---*/
p,
span {
  font-family: "Inter", sans-serif;
}

span {
  font-size: 17px;
}

/*-------- Text --------*/
h1,
h2 {
  margin: 0;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.2;
}

h3,
h4 {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

/*--- Button / link ---*/
button {
  font-family: "Inter", sans-serif;
  font-size: 35px;
  letter-spacing: 0.4px;
  background-color: #f1f1f1;
  border-style: none;
}

.link,
a {
  font-family: "Bai Jamjuree", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #0f0f0f;
}

/*------- Theme context -------*/
html.darkMode {
  background-color: #0f0f0f;
}

.navigation {
  position: relative;
  margin-right: 0;
  -webkit-animation: fade-left 1400ms ease-in-out;
          animation: fade-left 1400ms ease-in-out;
}

.main-top {
  position: relative;
  margin-left: 0;
  -webkit-animation: fade-right 1500ms both;
          animation: fade-right 1500ms both;
  opacity: 1;
}

.projects-page {
  position: relative;
  bottom: 0;
  -webkit-animation: fade-top 1400ms ease-in-out;
          animation: fade-top 1400ms ease-in-out;
  opacity: 1;
}

/* --- Fade top --- */
@-webkit-keyframes fade-top {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
@keyframes fade-top {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
/* --- Fade left --- */
@-webkit-keyframes fade-left {
  from {
    margin-right: -300px;
  }
  to {
    margin-right: 0;
  }
}
@keyframes fade-left {
  from {
    margin-right: -300px;
  }
  to {
    margin-right: 0;
  }
}
/* --- Fade right --- */
@-webkit-keyframes fade-right {
  from {
    margin-left: -600px;
  }
  to {
    margin-left: 0;
  }
}
@keyframes fade-right {
  from {
    margin-left: -600px;
  }
  to {
    margin-left: 0;
  }
}
/* --- Line --- */
@-webkit-keyframes line {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}
@keyframes line {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}
.main-center .page-title-text,
.main-bottom .page-title-text,
.projects-page .page-title-text {
  position: relative;
  margin-left: 20px;
  padding: 85px 20px 50px;
  font-size: 28px;
  text-align: center;
  text-shadow: -3px 4px 3px rgba(0, 0, 0, 0.3882352941);
  color: #101010;
}
.main-center .page-title-text::before,
.main-bottom .page-title-text::before,
.projects-page .page-title-text::before {
  content: "";
  position: relative;
  left: -12px;
  border-left: 5px solid #000;
  box-shadow: -3px 4px 3px 0 rgba(0, 0, 0, 0.3882352941);
}
@media (min-width: 798px) {
  .main-center .page-title-text,
.main-bottom .page-title-text,
.projects-page .page-title-text {
    padding: 100px 20px 50px;
    font-size: 32px;
  }
}

/*------- Theme context -------*/
.page-title-text.darkMode {
  text-shadow: -3px 4px 3px rgba(247, 247, 247, 0.4392156863);
  color: #dadada;
}
.page-title-text.darkMode::before {
  border-left: 5px solid #dadada;
  box-shadow: -3px 4px 3px 0 rgba(247, 247, 247, 0.4392156863);
}

.mode-settings-btn {
  padding: 10px;
}
@media (min-width: 798px) {
  .mode-settings-btn {
    padding: 10px 20px;
  }
}

.mode-btn-dark {
  position: relative;
  top: 2px;
  padding: 0;
  transform: rotate(15deg);
  font-size: 17px;
  color: #dadada;
  background-color: transparent;
  cursor: pointer;
}
@media (min-width: 798px) {
  .mode-btn-dark {
    font-size: 18px;
  }
}

.mode-btn-light {
  position: relative;
  padding: 20px 10px 10px 0;
  font-size: 24px;
  color: #dadada;
  background-color: #0f0f0f;
  cursor: pointer;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  padding: 10px;
  background-color: #0f0f0f;
}
@media (min-width: 798px) {
  .header {
    padding: 10px 20px;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 23px 10px 10px;
}
@media (min-width: 798px) {
  .navigation {
    padding: 24px 20px 10px;
  }
}

.navigation .link {
  font-size: 15px;
  color: #dadada;
}
@media (min-width: 798px) {
  .navigation .link {
    font-size: 16px;
  }
}

.link.home-link {
  margin-right: 15px;
}
@media (min-width: 375px) {
  .link.home-link {
    margin-right: 35px;
  }
}

.link.home-link.active::after,
.link.projects-link.active::after {
  content: "";
  display: flex;
  height: 4px;
  width: 12px;
  margin: 5px auto;
  background-color: #dadada;
  border-radius: 50%;
}
.link.home-link:not(.active):hover::after, .link.home-link:not(.active):focus::after,
.link.projects-link:not(.active):hover::after,
.link.projects-link:not(.active):focus::after {
  content: "";
  display: flex;
  height: 2px;
  width: 10px;
  margin: 5px auto;
  border: 1px solid #dadada;
  border-radius: 50%;
}

.intro {
  padding: 30px 20px 50px;
  text-align: center;
  color: #dadada;
  background-color: #0f0f0f;
}
@media (min-width: 375px) {
  .intro {
    text-align: inherit;
  }
}
@media (min-width: 798px) {
  .intro {
    padding: 30px 40px 50px;
    font-size: 18px;
  }
}
@media (min-width: 1100px) {
  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 40px 0 40px 100px;
  }
}

.intro-title {
  margin: 20px 0 10px;
  font-size: 16px;
  text-transform: uppercase;
}

.intro p {
  margin: 0 0 20px;
  line-height: 1.5;
  color: #9f9f9f;
}

.cover-wrapper {
  padding-top: 35px;
  background-color: #000;
  opacity: 0.94;
}
@media (min-width: 1100px) {
  .cover-wrapper {
    width: 50%;
  }
}

.cover {
  background-image: url("../../assets/images/photo.jpg");
  background-position: center;
  background-size: cover;
  height: 450px;
  box-shadow: inset 5px 0px 35px 50px #000;
}
@media (min-width: 1100px) {
  .cover {
    height: 100%;
  }
}

/*------- Theme context -------*/
.cover-wrapper.darkMode {
  background-color: #000;
  opacity: 0.94;
}

.goToMain-btn {
  display: none;
}
@media (min-width: 1100px) {
  .goToMain-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 91.5%;
    left: calc(50vw - 20px);
    height: 30px;
    width: 30px;
    background-color: #f1f1f1;
    border-radius: 50px;
    opacity: 0.9;
    cursor: pointer;
  }
}

/*------- Theme context -------*/
.goToMain-btn.darkMode {
  color: #dadada;
  background-color: transparent;
  border: 2px solid #dadada;
}

.typewriter {
  height: 120px;
  margin-bottom: 50px;
}
@media (min-width: 323px) {
  .typewriter {
    height: 80px;
  }
}
@media (min-width: 468px) {
  .typewriter {
    height: auto;
  }
}

.typewriter-title-one {
  font-size: 28px;
}
@media (min-width: 798px) {
  .typewriter-title-one {
    font-size: 32px;
  }
}

.typewriter-title-two {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 28px;
  line-height: 1.6;
}
@media (min-width: 375px) {
  .typewriter-title-two {
    justify-content: flex-start;
  }
}
@media (min-width: 468px) {
  .typewriter-title-two {
    display: inline;
  }
}
@media (min-width: 798px) {
  .typewriter-title-two {
    font-size: 32px;
  }
}

.color-JavaScript {
  color: #fb630a;
}

.color-React {
  color: #0093db;
}

/* ----- Card (global styles) ----- */
.projects-page .cards {
  padding-bottom: 60px;
}

.projects-page .cards .card {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 0;
}
.projects-page .cards .card:first-child {
  padding-top: 0;
}
@media (min-width: 798px) {
  .projects-page .cards .card {
    padding: 30px 0;
  }
}

@media (min-width: 798px) {
  .cards {
    margin: 0 10%;
  }
}

@media (min-width: 798px) {
  .card-content {
    display: flex;
  }
}

/* ----- Left content ----- */
@media (min-width: 798px) {
  .card-content-left {
    min-width: 35%;
  }
}

.card-cover {
  position: relative;
  top: 11px;
  z-index: -1;
  max-height: 150px;
  height: 100%;
  margin: 0 20px;
  overflow: hidden;
  background-color: rgba(183, 183, 183, 0.6705882353);
  border-radius: 10px 10px 0 0;
}
@media (min-width: 375px) {
  .card-cover {
    display: flex;
    margin: 0 40px;
  }
}
@media (min-width: 798px) {
  .card-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    max-height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    border-radius: 10px 0 0 10px;
  }
}

.card-cover img {
  filter: saturate(0);
}
@media (min-width: 798px) {
  .card-cover img {
    max-height: 150px;
    width: auto;
    margin: 3px;
    transform: scale(2);
  }
}

.image-desktop,
.image-mobile {
  display: flex;
  flex-direction: column;
  left: 11%;
  width: 100%;
  margin: auto;
  transform: rotate(-46deg);
}
@media (min-width: 375px) {
  .image-desktop,
.image-mobile {
    position: relative;
    top: -100px;
  }
}
@media (min-width: 798px) {
  .image-desktop,
.image-mobile {
    top: 0;
    width: auto;
  }
}

/* ----- Right content ----- */
.card-content-right {
  width: revert;
  margin: 0 20px;
  padding: 35px 20px 30px;
  text-align: center;
  background-color: #2b2b2b;
  border-radius: 10px;
}
@media (min-width: 375px) {
  .card-content-right {
    margin: 0 40px;
    text-align: inherit;
  }
}
@media (min-width: 798px) {
  .card-content-right {
    min-width: 55%;
    margin: 0;
    border-radius: 0 10px 10px 0;
  }
}
@media (min-width: 990px) {
  .card-content-right {
    padding: 35px 40px 30px;
  }
}

.card-title {
  margin-bottom: 5px;
  font-size: 28px;
  color: #f7f7f7;
  -webkit-hyphens: auto;
          hyphens: auto;
}
@media (min-width: 798px) {
  .card-title {
    font-size: 32px;
  }
}

.card-tags {
  font-size: 14px;
  color: #f7f7f7;
}
@media (min-width: 798px) {
  .card-tags {
    font-size: 15px;
  }
}

.card-intro {
  margin: 30px 0;
  line-height: 1.5;
  color: #9f9f9f;
}
@media (min-width: 798px) {
  .card-intro {
    margin: 35px 0;
  }
}

.card-context {
  font-size: 16px;
  color: #9f9f9f;
}

/* ----- Links ----- */
.view-more {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}
@media (min-width: 375px) {
  .view-more {
    justify-content: flex-end;
  }
}

.demo-link,
.github-link {
  margin: 10px;
  padding: 6px 10px;
  font-size: 18px;
  text-transform: inherit;
  color: #f7f7f7;
}

.link.demo-link:hover::after, .link.demo-link:focus::after,
.link.github-link:hover::after,
.link.github-link:focus::after {
  content: "";
  display: flex;
  height: 2px;
  width: 10px;
  margin: 5px auto -9px;
  border: 1px solid #f7f7f7;
  border-radius: 50%;
}
@media (min-width: 294px) {
  .link.demo-link:hover::after, .link.demo-link:focus::after,
.link.github-link:hover::after,
.link.github-link:focus::after {
    margin: 5px auto -10px;
  }
}

/*------- Theme context -------*/
.card-content-left.darkMode {
  opacity: 0.85;
}

.card-title.darkMode,
.card-tags.darkMode,
.demo-link.darkMode,
.github-link.darkMode {
  color: #dadada;
}

.link.demo-link.darkMode:hover::after, .link.demo-link.darkMode:focus::after,
.link.github-link.darkMode:hover::after,
.link.github-link.darkMode:focus::after {
  border: 1px solid #dadada;
}

.main-bottom .tags {
  padding-bottom: 60px;
}
@media (min-width: 698px) {
  .main-bottom .tags {
    max-width: 1400px;
    margin: 0 auto;
    padding-bottom: 85px;
  }
}

.tags h3 {
  margin: 0 5px 0 0;
  font-family: "Raleway", sans-serif;
  font-size: 19px;
  font-weight: 600;
}

.tags ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 5%;
  padding: 0;
  line-height: 1.5;
  list-style-type: none;
}
@media (min-width: 798px) {
  .tags ul {
    margin: 0 10%;
  }
}

.tags li {
  padding: 5px 15px;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #686868;
}
@media (min-width: 798px) {
  .tags li {
    font-size: 19px;
  }
}
@media (min-width: 1100px) {
  .tags li {
    padding: 12px 20px;
  }
}

/*------- Theme context -------*/
.tags li.darkMode {
  color: #9f9f9f;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #0f0f0f;
}

.followMe {
  padding: 10px;
  font-size: 15px;
  text-transform: uppercase;
  color: #dadada;
}
@media (min-width: 798px) {
  .followMe {
    font-size: 16px;
  }
}

.media-icons {
  padding: 10px;
}

.media-icons a {
  color: #dadada;
}

.footer .github-link {
  margin: 0;
  padding: 0;
}

.icon {
  margin: 0 10px;
  font-size: 20px;
  cursor: pointer;
}

.main-top {
  background-color: #fff;
}
@media (min-width: 1100px) {
  .main-top {
    display: flex;
    flex-direction: row-reverse;
    height: 85vh;
  }
}

@media (min-width: 1100px) {
  .main-center {
    height: 80vh;
  }
}
@media (min-width: 1400px) {
  .main-center {
    max-width: 1400px;
    margin: 0 auto;
  }
}

@media (min-width: 1100px) {
  .main-bottom {
    height: 60vh;
  }
}

.notFound {
  position: relative;
  width: 100%;
}

.notFound-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f1f1f1;
}

.notFound-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.error-code {
  font-size: 100px;
  font-weight: 500;
  color: #0f0f0f;
}

.error-message {
  margin: 50px;
  font-size: 24px;
  text-align: center;
  color: #0f0f0f;
}

/*------- Theme context -------*/
.notFound-main.darkMode {
  background-color: #0f0f0f;
}

.error-code.darkMode,
.error-message.darkMode {
  color: #dadada;
}
/*# sourceMappingURL=main.css.map */