/*---- Document root / body ----*/
html {
  height: 100vh;
  margin: 10px;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: 0.6px;
}

@media (min-width: 990px) {
  #root {
    display: grid;
    grid-template-columns: 85px 1.7fr;
    grid-template-rows: 1fr;
    grid-template-areas: "nav nav" "sidebar main";
  }
}

/*---- Page content ----*/
@media (min-width: 990px) {
  main {
    display: grid;
    grid-template-columns: 50%;
    grid-template-areas: "intro cover";
    height: 100vh;
  }
}

.page-main {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 510px;
  margin: 12px;
}
@media (min-width: 520px) {
  .page-main {
    max-width: 100%;
    margin: 40px 12px;
  }
}
@media (min-width: 990px) {
  .page-main {
    margin: 40px 85px 40px 0;
  }
}

/*--- Text container ---*/
p {
  font-family: "Raleway", sans-serif;
}

span {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 600;
}

/*-------- Text --------*/
h1,
h2 {
  margin: 0;
  font-family: "Marcellus", "DM Sans", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.2;
}

h3,
h4 {
  font-family: "Raleway", sans-serif;
}

/*--- Button / link ---*/
button {
  font-size: 35px;
  background-color: #fff;
  border-style: none;
}

.link {
  font-family: "Marcellus";
  text-decoration: none;
  color: #000;
}

/*------- Theme context -------*/
html.lightMode {
  background-color: #fff;
}

html.darkMode {
  background-color: #0c0c0c;
}

.intro {
  margin: 30px 20px;
  font-family: "Marcellus";
}
@media (min-width: 760px) {
  .intro {
    width: 700px;
    margin: 30px auto;
  }
}
@media (min-width: 990px) {
  .intro {
    grid-area: intro;
    width: 100%;
    margin: auto;
    padding-left: 18px;
  }
}
@media (min-width: 1740px) {
  .intro {
    padding-left: 45px;
  }
}

.intro h1 {
  margin-bottom: 10px;
}

.intro p {
  margin: 50px 0 10px;
  line-height: 1.5;
  color: rgba(33, 37, 41, 0.9098039216);
}
@media (min-width: 990px) {
  .intro p {
    padding-right: 35px;
  }
}

/*-- Buttons container --*/
.view-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 120px;
}
@media (min-width: 415px) {
  .view-more {
    flex-direction: row;
    justify-content: flex-start;
    height: 50px;
  }
}
@media (min-width: 600px) {
  .view-more {
    flex-direction: row;
  }
}

.view-more a {
  width: 115px;
  padding: 8px 20px;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  border: 2px solid #000;
}

/*------- Buttons -------*/
.portfolio-link,
.contact-link {
  margin: 10px auto;
  transition: all 0.3s linear;
  cursor: pointer;
}
.portfolio-link:hover,
.contact-link:hover {
  box-shadow: 8px 8px 0px #000, -8px -8px 0px #000;
}
@media (min-width: 415px) {
  .portfolio-link,
.contact-link {
    margin: 10px 20px 0 0;
  }
}

.portfolio-link {
  color: #fff;
  background-color: #000;
}

.contact-link {
  background-image: linear-gradient(to top, #000 50%, #fff 50%), linear-gradient(to top, #000 50%, transparent 50%);
  background-size: 100% 200%;
  color: #000;
}
.contact-link:hover {
  background-position: bottom;
  color: #fff;
}

/*------- Theme context -------*/
.intro.darkMode,
.intro.darkMode p {
  color: #fff;
}

.view-more a.darkMode {
  border: 2px solid #fff;
}

.portfolio-link.darkMode {
  color: #000;
  background-color: #fff;
}
.portfolio-link.darkMode:hover {
  box-shadow: 8px 8px 0px #fff, -8px -8px 0px #fff;
}

.contact-link.darkMode {
  background-image: linear-gradient(to top, #fff 50%, #fff 50%), linear-gradient(to top, #fff 50%, transparent 50%);
  color: #000;
}
.contact-link.darkMode:hover {
  box-shadow: 8px 8px 0px #fff, -8px -8px 0px #fff;
  color: #000;
}

.cover {
  background-image: url("../../assets/images/photo.jpg");
  background-position: center;
  background-size: cover;
  height: 75vh;
  width: 100%;
  margin-top: -19px;
}
@media (min-width: 990px) {
  .cover {
    grid-area: cover;
    height: 100vh;
  }
}

.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: first baseline;
}
@media (min-width: 990px) {
  .nav {
    grid-area: nav;
  }
}

.nav-content-left {
  position: relative;
  z-index: 11;
  display: flex;
  height: 36px;
  width: 87px;
  padding: 0 12px;
  background-color: #fff;
}
.nav-content-left .link {
  font-size: 20px;
  font-weight: 600;
}

.nav-content-right {
  display: flex;
  align-items: center;
  height: 49px;
  width: 110px;
  padding: 0 5px;
  font-size: 40px;
  background-color: #fff;
}

/*------- Theme context -------*/
.nav-content-right.darkMode {
  background-color: #0c0c0c;
}

.nav-content-left.darkMode {
  background-color: #0c0c0c;
}
.nav-content-left.darkMode .link {
  color: #fff;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
@media (min-width: 600px) {
  .sidebar {
    flex-direction: row;
  }
}
@media (min-width: 990px) {
  .sidebar {
    grid-area: sidebar;
    position: relative;
    left: -10px;
    transform: rotate(-90deg);
  }
}

.followMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
}
@media (min-width: 600px) {
  .followMe {
    flex-direction: row;
    margin: 20px 0;
  }
}
.followMe::after {
  content: "";
  height: 1px;
  width: 50px;
  margin: 10px;
  background-color: #000;
}
@media (min-width: 600px) {
  .followMe::after {
    margin: 10px 30px;
  }
}
@media (min-width: 990px) {
  .followMe {
    min-width: 200px;
  }
}

.media-icons {
  display: flex;
  justify-content: space-between;
  width: 135px;
}
@media (min-width: 990px) {
  .media-icons {
    flex-direction: row-reverse;
  }
}

.icon {
  font-size: 20px;
  cursor: pointer;
}
.icon:first-child {
  margin-left: 0;
}
@media (min-width: 990px) {
  .icon {
    padding: 10px;
  }
}

/*------- Theme context -------*/
.sidebar.darkMode {
  color: #fff;
}

.followMe.darkMode::after {
  background-color: #fff;
}

.menu {
  display: none;
}
.menu.active {
  position: fixed;
  z-index: 10;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  height: 100vh;
  -webkit-animation: menu 0.5s ease;
          animation: menu 0.5s ease;
  background: #fff;
}

@-webkit-keyframes menu {
  0% {
    bottom: 100%;
  }
  100% {
    bottom: 0;
  }
}

@keyframes menu {
  0% {
    bottom: 100%;
  }
  100% {
    bottom: 0;
  }
}
.menu-open-btn {
  padding-top: 8px;
  cursor: pointer;
}

.menu-close-btn {
  display: none;
  color: #0c0c0c;
}
.menu-close-btn.active {
  position: absolute;
  right: 0;
  display: flex;
  padding: 16px 20px;
  cursor: pointer;
}

.menu-content {
  display: flex;
  flex-direction: column;
  margin: 23vh 0;
}
.menu-content .link {
  margin: 17px;
  font-size: 34px;
}

/*------- Theme context -------*/
.menu.darkMode.active {
  background: #0c0c0c;
}

.menu-open-btn.darkMode {
  color: #fff;
  background-color: #0c0c0c;
}

.menu-close-btn.darkMode.active {
  color: #fff;
  background: #0c0c0c;
}

.home.darkMode,
.portfolio.darkMode,
.about.darkMode {
  color: #fff;
}

.mode-btn {
  position: relative;
  z-index: 11;
  display: flex;
  align-items: center;
  margin: 0 auto 0 12px;
  font-size: 15px;
  cursor: pointer;
}

.mode-btn-dark {
  position: relative;
  top: 1px;
  font-size: 18px;
  cursor: pointer;
}

.mode-btn-light {
  position: relative;
  top: 3px;
  font-size: 20px;
  cursor: pointer;
}

/*------- Theme context -------*/
.mode-btn-light.darkMode {
  font-size: 24px;
  color: #fff;
  background-color: #0c0c0c;
}

.typewriter {
  height: 120px;
}
@media (min-width: 336px) {
  .typewriter {
    height: 80px;
  }
}
@media (min-width: 480px) {
  .typewriter {
    height: auto;
  }
}

.typewriter-title-one {
  font-family: "Marcellus";
  font-size: 28px;
}
@media (min-width: 540px) {
  .typewriter-title-one {
    font-size: 30px;
  }
}

.typewriter-title-two {
  display: flex;
  width: 100%;
  font-family: "Marcellus";
  font-size: 28px;
  line-height: 1.6;
}
@media (min-width: 480px) {
  .typewriter-title-two {
    display: inline;
    width: auto;
  }
}
@media (min-width: 540px) {
  .typewriter-title-two {
    font-size: 30px;
  }
}

.color-JavaScript {
  color: #fb630a;
}

.color-React {
  color: #0093db;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
@media (min-width: 760px) {
  .cards {
    width: 100%;
    justify-content: space-between;
    height: 100%;
  }
}
@media (min-width: 990px) {
  .cards {
    margin-bottom: 40px;
  }
}

.card {
  position: relative;
  width: 100%;
  margin: 15px auto;
  background-color: #fff;
  padding: 9px;
  border: 4px solid #ccc;
}
.card::before {
  content: "";
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
}
@media (min-width: 520px) {
  .card {
    margin: 20px 12px;
  }
}
@media (min-width: 1100px) {
  .card {
    width: 44%;
    margin: 30px 12px;
  }
}

.card img {
  height: 100%;
  width: 100%;
}
@media (min-width: 457px) {
  .card img {
    display: flex;
    margin: 0 auto;
  }
}

.card .card-text {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition: all 0.25s linear;
  font-size: 19px;
  text-decoration: none;
  color: #000;
  opacity: 0;
  background-color: #4f4f4f;
}
.card .card-text:hover {
  margin: auto;
  transform: scale(0.98, 0.96);
  opacity: 1;
  background-color: #4f4f4f;
}

.card .card-text a {
  color: #000;
  text-decoration: none;
}

.card span {
  font-size: 16px;
  color: #fff;
  border: 1px solid #fff;
}

.card-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 15px 0;
  padding: 0;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  list-style: none;
  color: #fff;
  line-height: 1.5;
}
@media (min-width: 520px) {
  .card-tags {
    font-size: 17px;
  }
}

.card-btn {
  padding: 4px 8px;
  font-weight: 200;
  border: 1px solid #000;
  background-color: #000;
}

.card-text span {
  font-size: 14px;
}
@media (min-width: 520px) {
  .card-text span {
    font-size: 16px;
    font-weight: 500;
  }
}

/*------- Theme context -------*/
.card.darkMode {
  border: 4px solid #fff;
}

.card.lightMode {
  border: 4px solid #4f4f4f;
}

.card-btn.lightMode {
  background-color: #fff;
}

.card span.lightMode {
  color: #000;
  border: 1px solid #000;
  font-weight: 600;
}

.page-main .title {
  margin: 20px 0;
}
@media (min-width: 520px) {
  .page-main .title {
    margin: 20px 12px;
  }
}

@media (min-width: 520px) {
  .title-text {
    font-size: 3.5rem;
  }
}

.underline {
  display: inline-block;
  width: 100%;
  margin: 22px 0 37px;
  border-bottom: 1px solid #000;
}

/*------- Theme context -------*/
.title-text.darkMode {
  color: #fff;
}

.underline.darkMode {
  border-bottom: 1px solid #fff;
}

.picture img,
.gallery-content .image img {
  height: 300px;
  width: 300px;
}

.gallery-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/*# sourceMappingURL=main.css.map */