/*---- Document root / body ----*/
html {
  height: 100vh;
  background-color: #f1f1f1;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: 0.6px;
}

.page-main {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 12px;
}

.page-main h1 {
  margin-top: 40px;
}

/*--- Text container ---*/
p,
span {
  font-family: "Inter", sans-serif;
}

span {
  font-size: 17px;
}

/*-------- Text --------*/
h1,
h2 {
  margin: 0;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.2;
}

h3,
h4 {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

/*--- Button / link ---*/
button {
  font-family: "Inter", sans-serif;
  font-size: 35px;
  letter-spacing: 0.4px;
  background-color: #f1f1f1;
  border-style: none;
}

.link,
a {
  font-family: "Bai Jamjuree", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #0f0f0f;
}

/*------- Theme context -------*/
html.darkMode {
  background-color: #0f0f0f;
}

.main-center .title,
.main-bottom .title-text {
  position: relative;
}

.main-center .title-text,
.main-bottom .title-text,
.projects-page .title-text {
  margin-left: 20px;
  padding: 85px 20px 50px;
  font-size: 28px;
  text-align: center;
  text-shadow: -3px 4px 3px rgba(0, 0, 0, 0.3882352941);
  color: #101010;
}
.main-center .title-text::before,
.main-bottom .title-text::before,
.projects-page .title-text::before {
  content: "";
  position: relative;
  left: -12px;
  border-left: 5px solid #000;
  box-shadow: -3px 4px 3px 0 rgba(0, 0, 0, 0.3882352941);
}
@media (min-width: 798px) {
  .main-center .title-text,
.main-bottom .title-text,
.projects-page .title-text {
    padding: 100px 20px 50px;
    font-size: 32px;
  }
}

/*------- Theme context -------*/
.title-text.darkMode {
  text-shadow: -3px 4px 3px rgba(247, 247, 247, 0.4392156863);
  color: #dadada;
}
.title-text.darkMode::before {
  border-left: 5px solid #dadada;
  box-shadow: -3px 4px 3px 0 rgba(247, 247, 247, 0.4392156863);
}

@media (min-width: 1100px) {
  .main-top {
    display: flex;
    flex-direction: row-reverse;
  }
}

@media (min-width: 1400px) {
  .main-center {
    max-width: 1400px;
    margin: 0 auto;
  }
}

.intro {
  padding: 30px 20px 50px;
  text-align: center;
  color: #dadada;
  background-color: #0f0f0f;
}
@media (min-width: 375px) {
  .intro {
    text-align: inherit;
  }
}
@media (min-width: 798px) {
  .intro {
    font-size: 18px;
  }
}
@media (min-width: 1100px) {
  .intro {
    width: 50%;
    padding: 40px 0 40px 100px;
  }
}

.intro-title {
  margin: 20px 0 10px;
  font-size: 16px;
  text-transform: uppercase;
}

.intro p {
  margin: 0 0 20px;
  line-height: 1.5;
  color: #9f9f9f;
}

.cover-wrapper {
  padding-top: 35px;
  background-color: #000;
  opacity: 0.94;
}
@media (min-width: 1100px) {
  .cover-wrapper {
    width: 50%;
  }
}

.cover {
  background-image: url("../../assets/images/photo.jpg");
  background-position: center;
  background-size: cover;
  height: 450px;
}

/*------- Theme context -------*/
.cover-wrapper.darkMode {
  background-color: #0f0f0f;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  padding: 10px;
  background-color: #0f0f0f;
}
@media (min-width: 798px) {
  .header {
    padding: 10px 20px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #0f0f0f;
}

.footer .github-link {
  margin: 0;
  padding: 0;
}

.followMe {
  padding: 10px;
  font-size: 15px;
  text-transform: uppercase;
  color: #dadada;
}
@media (min-width: 798px) {
  .followMe {
    font-size: 16px;
  }
}

.media-icons {
  padding: 10px;
}

.media-icons a {
  color: #dadada;
}

.icon {
  margin: 0 10px;
  font-size: 20px;
  cursor: pointer;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.navigation .link {
  font-size: 15px;
  color: #dadada;
}
@media (min-width: 798px) {
  .navigation .link {
    font-size: 16px;
  }
}

.link.home-link {
  margin-right: 15px;
}
@media (min-width: 375px) {
  .link.home-link {
    margin-right: 35px;
  }
}

.link.home-link.active,
.link.projects-link.active {
  border-bottom: 1px solid #dadada;
}

.mode-btn {
  padding: 10px;
}

.mode-btn-dark {
  position: relative;
  top: 2px;
  padding: 0;
  font-size: 17px;
  transform: rotate(15deg);
  color: #dadada;
  background-color: transparent;
  cursor: pointer;
}
@media (min-width: 798px) {
  .mode-btn-dark {
    font-size: 18px;
  }
}

.mode-btn-light {
  position: relative;
  padding: 20px 10px 10px 0;
  font-size: 24px;
  color: #dadada;
  background-color: #0f0f0f;
  cursor: pointer;
}

.typewriter {
  height: 120px;
  margin-bottom: 50px;
}
@media (min-width: 323px) {
  .typewriter {
    height: 80px;
  }
}
@media (min-width: 468px) {
  .typewriter {
    height: auto;
  }
}

.typewriter-title-one {
  font-size: 28px;
}
@media (min-width: 798px) {
  .typewriter-title-one {
    font-size: 32px;
  }
}

.typewriter-title-two {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 28px;
  line-height: 1.6;
}
@media (min-width: 375px) {
  .typewriter-title-two {
    justify-content: flex-start;
  }
}
@media (min-width: 468px) {
  .typewriter-title-two {
    display: inline;
  }
}
@media (min-width: 798px) {
  .typewriter-title-two {
    font-size: 32px;
  }
}

.color-JavaScript {
  color: #fb630a;
}

.color-React {
  color: #0093db;
}

@media (min-width: 698px) {
  .cards {
    margin: 0 5%;
  }
}
@media (min-width: 1400px) {
  .cards {
    margin: 0 10%;
  }
}

@media (min-width: 698px) {
  .card-content {
    display: flex;
  }
}

/* ----- Left content ----- */
@media (min-width: 698px) {
  .card-content-left {
    width: 45%;
  }
}

.card-cover {
  display: none;
  background-color: rgba(183, 183, 183, 0.6705882353);
}
@media (min-width: 698px) {
  .card-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
    border-radius: 10px 0 0 10px;
  }
}

.card-cover img {
  filter: saturate(0);
}
@media (min-width: 698px) {
  .card-cover img {
    max-height: 150px;
    margin: 3px;
  }
}

.image-desktop,
.image-mobile {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  transform: rotate(-46deg);
}

/* ----- Right content ----- */
.card-content-right {
  padding: 35px 20px 30px;
  text-align: center;
  background-color: #2b2b2b;
  border-radius: 10px;
}
@media (min-width: 375px) {
  .card-content-right {
    text-align: inherit;
  }
}
@media (min-width: 698px) {
  .card-content-right {
    height: 100%;
    width: 55%;
    border-radius: 0 10px 10px 0;
  }
}

.card-title {
  margin-bottom: 5px;
  font-size: 28px;
  color: #f7f7f7;
}
@media (min-width: 698px) {
  .card-title {
    font-size: 32px;
  }
}

.card-tags {
  font-size: 14px;
  color: #f7f7f7;
}
@media (min-width: 698px) {
  .card-tags {
    font-size: 15px;
  }
}

.card-intro {
  margin: 30px 0;
  color: #9f9f9f;
}
@media (min-width: 698px) {
  .card-intro {
    margin: 35px 0;
  }
}

.card-context {
  font-size: 16px;
  color: #9f9f9f;
}

/* ----- Links ----- */
.view-more {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}
@media (min-width: 375px) {
  .view-more {
    justify-content: flex-end;
  }
}

.demo-link,
.github-link {
  margin: 10px;
  padding: 6px 10px;
  font-size: 18px;
  text-transform: inherit;
  text-decoration: underline;
  color: #f7f7f7;
}

.main-bottom .tags {
  padding-bottom: 60px;
}
@media (min-width: 798px) {
  .main-bottom .tags {
    margin: 0 10%;
    padding-bottom: 85px;
  }
}

@media (min-width: 798px) {
  .tags {
    margin: 0 5%;
  }
}

.tags h3 {
  margin: 0 5px 0 0;
  font-family: "Raleway", sans-serif;
  font-size: 19px;
  font-weight: 600;
}

.tags ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.tags li {
  padding: 5px 15px;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #999;
}
@media (min-width: 798px) {
  .tags li {
    font-size: 19px;
  }
}

@media (min-width: 798px) {
  .projects-page .cards {
    margin: 0 5%;
    padding-bottom: 60px;
  }
}

.projects-page .cards .card {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 0;
}
.projects-page .cards .card:first-child {
  padding-top: 0;
}
@media (min-width: 798px) {
  .projects-page .cards .card {
    padding: 30px 0;
  }
}

.notFound {
  position: relative;
  width: 100%;
}

.notFound-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f1f1f1;
}

.notFound-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.error-code {
  font-size: 100px;
  font-weight: 500;
  color: #0f0f0f;
}

.error-message {
  margin: 50px;
  font-size: 24px;
  text-align: center;
  color: #0f0f0f;
}

/*------- Theme context -------*/
.notFound-main.darkMode {
  background-color: #0f0f0f;
}

.error-code.darkMode,
.error-message.darkMode {
  color: #dadada;
}
/*# sourceMappingURL=main.css.map */