@use "../../styles/abstracts" as *;

.home-page .card-intro {
   display: flex;
}

.home-page .chevron-down {
   display: none;
}

.main-top {
   background-color: $white;

   @media (min-width: 1100px) {
      display: flex;
      flex-direction: row-reverse;
      height: 85vh;
   }
}

.main-center {
   @media (min-width: 1100px) {
      height: 80vh;
   }

   @media (min-width: 1400px) {
      max-width: 1400px;
      margin: 0 auto;
   }
}

.main-bottom {
   @media (min-width: 1100px) {
      height: 60vh;
   }
}
