@use "../../styles/abstracts" as *;

/* -------- Global styles -------- */
.card {
   margin: 0 20px;
}

.card-content {
   display: flex;
   flex-direction: column;
   background-color: $black-background;
}

/* ---- Left content ---- */
/* - Cover - */
.card-cover {
   position: relative;
   max-height: 150px;
   height: 100%;
   margin: 0;
   overflow: hidden;
   background-color: #b7b7b7ab;

   @media (min-width: 375px) {
      max-height: 200px;
   }
}

.card-cover img {
   filter: saturate(0);
}

.image-desktop,
.image-mobile {
   position: relative;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 0;
   height: 100%;
   transform: rotate(-40deg);

   @media (max-width: 600px) {
      height: 300px;
   }
}

.image-mobile {
   position: absolute;
   height: 300px;

   @media (min-width: 600px) {
      display: flex;
      justify-content: flex-end;
      height: fit-content;
   }
}

.image-desktop img {
   box-shadow: 0px 0 8px 0px #00000082;
}

.image-mobile img {
   box-shadow: 0px 0 8px 0px #dadada82;
   border: 1px solid #dadada82;

   @media (max-width: 600px) {
      display: none;
   }
}

/* ---- Right content ---- */
.card-content-right {
   padding: 35px 20px 30px;
   background-color: $black-background;
}

.card-title {
   margin-bottom: 8px;
   font-size: 24px;
   hyphens: auto;
   color: $light-text;

   @media (min-width: 820px) {
      font-size: 28px;
   }
}

.card-tags {
   font-size: 14px;
   line-height: 1.4;
   color: $light-text;

   @media (min-width: 820px) {
      font-size: 15px;
   }
}

/* - Context - */
.card-context {
   display: flex;
   justify-content: space-between;
   margin: 40px 0 5px;
   color: $dark-text;

   @media (max-width: 300px) {
      display: none;
   }

   @media (min-width: 375px) {
      margin: 45px 0 5px;
   }
}

.first-context {
   display: flex;
   flex-direction: column;

   @media (min-width: 500px) {
      flex-direction: row;
      width: 70%;
   }
}

.type-context,
.member-context,
.time-context {
   display: flex;
   align-items: flex-start;
   line-height: 1.3;
}

.member-context {
   @media (min-width: 500px) {
      margin-left: 25px;
   }
}

.time-context {
   margin-right: 6px;
}

.type-text,
.member-text,
.time-text {
   margin-left: 5px;
   font-size: 14px;
}

.member-text {
   position: relative;
   top: 1px;
}

/* - Collapse - */
.card-intro {
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 5;
   margin: 30px 0;
   overflow: hidden;
   line-height: 1.5;
   hyphens: auto;
   color: $dark-text;

   &.active {
      display: flex;
   }

   @media (min-width: 300px) {
      -webkit-line-clamp: 3;
      margin: 0 0 30px;
   }
}

.chevron-down {
   display: flex;
   justify-content: center;
   width: 100%;
   margin-top: -24px;
   text-align: center;
   font-size: 20px;
   color: $dark-text;
   background-color: transparent;

   &.active {
      .chevron-down-icon {
         transform: rotate(180deg);
      }
   }
}

.chevron-down-icon {
   cursor: pointer;

   &:hover,
   &:focus {
      box-shadow: 0px 0px 5px 2px #dadada5c;
      border-radius: 50%;
   }
}

/* - Links - */
.view-more {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-top: 20px;

   @media (min-width: 375px) {
      justify-content: flex-end;
   }
}

.demo-link,
.github-link {
   margin: 5px;
   padding: 6px 10px;
   font-size: 17px;
   text-transform: inherit;
   color: $light-text;

   @media (min-width: 375px) {
      margin: 10px;
   }

   @media (min-width: 820px) {
      font-size: 18px;
   }
}

.link.demo-link,
.link.github-link {
   &:hover,
   &:focus {
      &::after {
         content: "";
         display: flex;
         height: 2px;
         width: 10px;
         margin: 5px auto -9px;
         border: 1px solid $light;
         border-radius: 50%;
      }
   }
}

/*------- Theme context -------*/

.card-content-left.darkMode {
   opacity: 0.85;
}

.card-title.darkMode,
.card-tags.darkMode,
.demo-link.darkMode,
.github-link.darkMode {
   color: $light-text;
}

.link.demo-link.darkMode,
.link.github-link.darkMode {
   &:hover,
   &:focus {
      &::after {
         border: 1px solid $light;
      }
   }
}
