.navigation {
   position: relative;
   margin-right: 0;
   animation: fade-left 1400ms ease-in-out;
}

.main-top {
   position: relative;
   margin-left: 0;
   animation: fade-right 1500ms both;
   opacity: 1;
}

.projects-page {
   position: relative;
   bottom: 0;
   animation: fade-top 1400ms ease-in-out;
   opacity: 1;
}

/* --- Fade top --- */
@keyframes fade-top {
   from {
      bottom: -100px;
      opacity: 0;
   }

   to {
      bottom: 0;
      opacity: 1;
   }
}

/* --- Fade left --- */
@keyframes fade-left {
   from {
      margin-right: -300px;
   }

   to {
      margin-right: 0;
   }
}

/* --- Fade right --- */
@keyframes fade-right {
   from {
      margin-left: -600px;
   }

   to {
      margin-left: 0;
   }
}
