/*---- Document root / body ----*/
html {
   height: 100vh;
   background-color: #f1f1f1;
}

body {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   letter-spacing: 0.6px;
}

/*--- Text container ---*/
p,
span {
   font-family: "Inter", sans-serif;
}

span {
   font-size: 17px;
}

/*-------- Text --------*/
h1,
h2 {
   margin: 0;
   font-family: "Bai Jamjuree", sans-serif;
   font-size: 32px;
   font-weight: 500;
   line-height: 1.2;
}

h3,
h4 {
   margin: 0;
   font-family: "Inter", sans-serif;
   font-weight: 500;
}

/*--- Button / link ---*/
button {
   font-family: "Inter", sans-serif;
   font-size: 35px;
   letter-spacing: 0.4px;
   background-color: #f1f1f1;
   border-style: none;
}

.link,
a {
   font-family: "Bai Jamjuree", sans-serif;
   text-transform: uppercase;
   text-decoration: none;
   color: #0f0f0f;
}

/*------- Theme context -------*/

html.darkMode {
   background-color: #0f0f0f;
}
